/* KISS */

$background-color:    #f1f3f2;
$copy-color:          #3E4147;
$primary:             #0CA5B0;

html,
body {
  min-height: 100%;
}
body {
  padding-top: 1rem;
  background-color: $background-color;
  color: $copy-color;
  font-weight: 300;
}
a {
  color: $primary;
}
a:hover {
  color: darken($primary, 15%);
}
p {
  line-height: 1.7rem;
  margin-bottom: 1.6em;
  font-size: 1rem;
}
li {
  font-size: 1.25rem;
}
img.img-margin {
  margin-bottom: 2rem;
}
hr {
  margin: 2rem 0;
}
.call-to-action {
  padding: 1rem;
  h3 {
    margin-bottom: 1.5rem;
  }
}
footer {
  padding-bottom: 1rem;
}
.button {
  background: #3197ee;
  &:hover {
    background: darken(#3197ee, 12%);
  }
}
