/* KISS */
html,
body {
  min-height: 100%;
  font-size: 15px;
}

body {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #FFFEDF;
  color: #3E4147;
  font-family: 'Lora';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #DFBA69;
  text-transform: uppercase;
  font-family: 'Raleway';
}

a {
  color: #0CA5B0;
}

a:hover {
  color: #076268;
}

p {
  line-height: 1.7;
  margin-bottom: 1.6em;
  font-size: 1rem;
}

.lead {
  margin-top: 3rem;
}
